/data
.ipynb_checkpoints
movenet_multipose_lightning_1
movenet_multipose_lightning_1.tar.gz
Mediapipe/data
Mediapipe/MP_DATA
Mediapipe/MP_DATA2
Mediapipe/.ipynb_checkpoints
Mediapipe/Logs
Mediapipe/Logs2
Mediapipe/Logs3
Mediapipe/Logs4
Mediapipe/IMG_4519.MOV
Mediapipe/vid.mp4
Mediapipe/sample.png